:root {
  --primary-font-family: Roboto, sans-serif;
  --secondary-font-family: Raleway, sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --tertiary-text-color: #ffffff;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --tertiary-background-color: #f5f4fa;
  --icon-fill: #afb1b8;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.modal-btn {
  min-width: 200px;
  padding: 10px 32px;
  border-style: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--tertiary-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color var(--animation-duration) var(--animation-timing-function);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #188ce8;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-background-color);
  cursor: pointer;
  transition: fill var(--animation-duration) var(--animation-timing-function);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--accent-color);
}

.submit-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px;
  min-width: 200px;
  background-color: var(--accent-color);
  color: var(--tertiary-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--animation-duration) var(--animation-timing-function);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #188ce8;
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-fill);
  transition: fill var(--animation-duration) var(--animation-timing-function), background-color var(--animation-duration) var(--animation-timing-function);
}

.social-link:hover,
.social-link:focus {
  fill: var(--primary-background-color);
  background-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--animation-duration) var(--animation-timing-function), visibility var(--animation-duration) var(--animation-timing-function);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 580px;
  text-align: center;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 1;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--animation-duration) var(--animation-timing-function), opacity var(--animation-duration) var(--animation-timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}

.signup-form-field {
  display: block;
  margin-bottom: 10px;
}

.signup-form-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.signup-form-text {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.signup-form-input-wrapper {
  display: block;
  position: relative;
}

.signup-form-input {
  width: 100%;
  padding: 12px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--primary-text-color);
  transition: border-color var(--animation-duration) var(--animation-timing-function);
}

.signup-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  transition: fill var(--animation-duration) var(--animation-timing-function);
}

.signup-form-input:focus + .signup-icon {
  fill: var(--accent-color);
}

.signup-form-message {
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  color: var(--primary-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--animation-duration) var(--animation-timing-function);
}

.signup-form-input:focus,
.signup-form-message:focus {
  border-color: var(--accent-color);
  outline: none;
}

.signup-form-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.signup-checkbox-field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.signup-checkbox-link {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.checkbox-icon {
  margin-right: 10px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 3px;
  transition: border-color var(--animation-duration) var(--animation-timing-function), background-color var(--animation-duration) var(--animation-timing-function);
}

.signup-checkbox-input:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border: 0.2px solid #FFFFFF;
}

.signup-checkbox-input:focus + .checkbox-icon {
  border-color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 92px;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-header-color {
  color: #000000;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  transition: color var(--animation-duration) var(--animation-timing-function);
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

.active-page {
  color: var(--accent-color);
  position: relative;
}

.active-page::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header-contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contacts-mail {
  margin-right: 50px;
}

.header-contacts {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--animation-duration) var(--animation-timing-function);
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

.hero-section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg.jpg);
  background-size: cover;
  background-position: center;
  background-color: var(--secondary-background-color);
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--tertiary-text-color);
}

.advantages-items {
  display: flex;
  margin-left: -30px;
}

.advantages-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-left: 30px;
}

.icon-box {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tertiary-background-color);
  border-radius: 4px;
}

.advantages-item-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-item-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.activities-section {
  padding-top: 0;
}

.activities-items {
  display: flex;
  justify-content: space-between;
}

.activities-item {
  position: relative;
}

.activities-description {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tertiary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70px;
  transform: translateY(-100%);
}

.team-section {
  background-color: var(--tertiary-background-color);
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-card {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-left: 30px;
  margin-top: 30px;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card-description {
  padding: 30px 32px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}

.team-item {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.clients .section-title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.clients-item {
  height: 92px;
  width: 170px;
  flex-basis: calc((100% - 6 * 30px) / 6);
  margin-top: 30px;
  margin-left: 30px;
}

.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-fill);
  border-radius: 4px;
  color: var(--icon-fill);
  transition: color var(--animation-duration) var(--animation-timing-function), border-color var(--animation-duration) var(--animation-timing-function);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-logo {
  fill: currentColor;
}

.radio-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.radio-btn-item:not(:last-child) {
  margin-right: 8px;
}

.radio-btn {
  padding: 6px 22px;
  border-style: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--tertiary-background-color);
  cursor: pointer;
  transition: color var(--animation-duration) var(--animation-timing-function), background-color var(--animation-duration) var(--animation-timing-function), box-shadow var(--animation-duration) var(--animation-timing-function);
}

.radio-btn:hover,
.radio-btn:focus {
  color: var(--tertiary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-examples-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.work-example-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
}

.work-example-link {
  display: block;
  transition: box-shadow var(--animation-duration) var(--animation-timing-function);
}

.work-example-link:hover,
.work-example-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-example-card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.work-example-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.work-example-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.work-example-wrapper {
  position: relative;
  overflow: hidden;
}

.work-example-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--tertiary-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--animation-duration) var(--animation-timing-function);
}

.work-example-link:hover .work-example-overlay,
.work-example-link:focus .work-example-overlay {
  transform: translateY(0%);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-footer-color {
  color: var(--tertiary-text-color);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--tertiary-text-color);
  transition: color var(--animation-duration) var(--animation-timing-function);
}

.address:hover,
.address:focus {
  color: var(--accent-color);
}

.footer-mail,
.footer-number {
  color: rgba(255, 255, 255, 0.6);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.footer-text {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tertiary-text-color);
}

.footer-social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--primary-background-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: fill var(--animation-duration) var(--animation-timing-function), background-color var(--animation-duration) var(--animation-timing-function);
}

.footer-social-links li:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  fill: var(--primary-background-color);
  background-color: var(--accent-color);
}

.footer-form {
  margin-left: auto;
}

.footer-contact-form-input {
  padding: 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  color: var(--tertiary-text-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-contact-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.submit-icon {
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */