.modal-btn {
    min-width: 200px;
    padding: 10px 32px;
    border-style: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--tertiary-text-color);
    background-color: var(--accent-color);

    cursor: pointer;
    transition: background-color var(--animation-duration) var(--animation-timing-function);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #188ce8;
}

.modal-btn--close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--primary-background-color);
    cursor: pointer;
    transition: fill var(--animation-duration) var(--animation-timing-function);
}

.modal-btn--close:hover,
.modal-btn--close:focus {
    fill: var(--accent-color);
}

.radio-btn {
    padding: 6px 22px;
    border-style: none;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--tertiary-background-color);
    cursor: pointer;

    transition: color var(--animation-duration) var(--animation-timing-function),
        background-color var(--animation-duration) var(--animation-timing-function),
        box-shadow var(--animation-duration) var(--animation-timing-function);
}

.radio-btn:hover,
.radio-btn:focus {
    color: var(--tertiary-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.submit-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 28px;
    min-width: 200px;

    background-color: var(--accent-color);
    color: var(--tertiary-text-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color var(--animation-duration) var(--animation-timing-function);
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: #188ce8;
}



