.social-links__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
        transition: fill var(--animation-duration) var(--animation-timing-function),
        background-color var(--animation-duration) var(--animation-timing-function);
    fill: var(--icon-fill);
}

.social-links__link:hover,
.social-links__link:focus {
    fill: var(--primary-background-color);
    background-color: var(--accent-color);
}

.social-links--right:not(:last-child) {
    margin-right: 10px;
}